<div class="modal-content" data-modal-tab-content="metadata">
    <p class="tab-desc"></p>
    <div class="modal-body">
        <div data-admin-ng-notification="" type="warning" show="access.episode_access.locked" message="{{ metadata.locked }}"></div>
        <div class="full-col">
            <ul>
                <li>
                    <div class="obj tbl-details">
                        <!-- <div class="obj-container"> -->
                            <header>Name</header>
                            <div class="obj-container">
                                <table class="main-tbl">
                                    <tr>
                                        <td>ACL Name <i class="required">*</i></td>
                                        <td><input class="hidden-input" placeholder="Enter ACL Name..."></td>
                                    </tr>
                                </table>
                            </div>
                        <!-- </div> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="modal-content" data-modal-tab-content="access" data-level="1">
    <div class="modal-body">
        <div class="full-col">
            <ul>
                <li>
                    <div class="obj list-obj">
                        <header class="no-expand" translate="EVENTS.SERIES.NEW.ACCESS.ACCESS_POLICY.TITLE"></header>
                        <div class="obj-container">
                            <div class="obj tbl-list">

                                <table class="main-tbl">
                                <thead>
                                    <tr>
                                        <th translate="EVENTS.SERIES.NEW.ACCESS.TEMPLATES.TITLE"><!--Templates--></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            <div class="obj-container padded">
                                                <p translate="EVENTS.SERIES.NEW.ACCESS.ACCESS_POLICY.DESCRIPTION"></p>
                                                <select chosen pre-select-from="wizard.step.acls"
                                                    data-width="'200px'"
                                                    data-disable-search-threshold="8"
                                                    data-search_contains="true"
                                                    ng-change="wizard.step.changeBaseAcl()"
                                                    ng-model="wizard.step.ud.id"
                                                    ng-options="id as name for (id, name) in wizard.step.acls"
                                                    data-placeholder="{{ 'EVENTS.SERIES.NEW.ACCESS.ACCESS_POLICY.LABEL' | translate }}"
                                                    no-results-text="'{{ 'EVENTS.SERIES.NEW.ACCESS.ACCESS_POLICY.EMPTY' | translate }}'"
                                                />
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="obj-container">
                            <div class="obj tbl-list">
                                <header translate="EVENTS.SERIES.DETAILS.ACCESS.ACCESS_POLICY.DETAILS"><!--Details--></header>
                                <div class="obj-container">
                                <table class="main-tbl">
                                    <thead>
                                        <tr>
                                            <th translate="EVENTS.SERIES.NEW.ACCESS.ACCESS_POLICY.ROLE"><!--Role--></th>
                                            <th translate="EVENTS.SERIES.NEW.ACCESS.ACCESS_POLICY.READ" class="fit"><!--Read--></th>
                                            <th translate="EVENTS.SERIES.NEW.ACCESS.ACCESS_POLICY.WRITE" class="fit"><!--Write--></th>
                                            <th translate="EVENTS.SERIES.NEW.ACCESS.ACCESS_POLICY.ACTION" class="fit"><!--Action--></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="policy in wizard.step.ud.policies">
                                            <td>
                                                <select chosen pre-select-from="wizard.step.roles"
                                                    data-width="'200px'"
                                                    data-disable-search-threshold="8"
                                                    data-search_contains="true"
                                                    ng-model="policy.role"
                                                    ng-options="id as name for (id, name) in wizard.step.roles"
                                                    data-placeholder="{{ 'EVENTS.SERIES.NEW.ACCESS.ROLES.LABEL' | translate }}"
                                                    no-results-text="'{{ 'EVENTS.SERIES.NEW.ACCESS.ROLES.EMPTY' | translate }}'"
                                                />
                                            </td>
                                            <td class="fit"><input type="checkbox"  ng-model="policy.read"/></td>
                                            <td class="fit"><input type="checkbox"  ng-model="policy.write"/></td>
                                            <td class="fit"><a ng-click="wizard.step.deletePolicy(policy)" class="remove"></a>
                                            </td>
                                        </tr>
                                        <tr ng-if="$root.userIs('ROLE_UI_SERIES_DETAILS_ACL_EDIT')">
                                            <td colspan="4"><a ng-click="wizard.step.addPolicy()">+ {{ 'EVENTS.SERIES.NEW.ACCESS.ACCESS_POLICY.NEW' | translate }}</a></td>
                                        <tr>
                                        </tr>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        </div>

                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>



